# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/venv
node_modules/
# Django stuff:
*.log
local_settings.py
db.sqlite3
mysite/diary/static/diary/media/
backup/
mysite/static
